@import "./variables.css";

html {
  height: 100vh;
}

body {
  height: 100vh;
  background-color: #fbfbfb !important;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background-color: rgba(65, 65, 65, 0.3);
}

::-webkit-scrollbar-thumb {
  background-color: #ffcc26;
}
