.wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-right: 100px;
}

.product {
  display: flex;
  background: rgba(0,0,0,0) !important;
}

.action-wrap {
  display: flex;
  flex: 1;
  flex-flow: column wrap;
  justify-content: center;
}

.photo {
  width: 448px;
  height: 448px;
  margin-right: 120px;
  border-radius: 30px;
}

.title {
  margin-bottom: 60px;
  font-family: "Poppins";
  font-size: 64px;
  font-weight: 400 !important;
  text-align: left;
}
