.wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-right: 100px;
  @media screen and (max-width: 1280px) {
    max-width: 800px;
    padding: 20px;
    margin: 0 auto;
  }
}

.product {
  display: flex;
  width: 100%;
  background: rgba(0, 0, 0, 0) !important;
  @media screen and (max-width: 480px) {
    flex-flow: column wrap;
  }
}

.action-wrap {
  display: flex;
  flex: 1;
  flex-flow: column wrap;
  justify-content: center;
}

.photo-block {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin-right: 120px;
  z-index: 10;
  @media screen and (max-width: 1280px) {
    margin-right: 12px;
  }
}

.photo {
  width: 448px;
  height: 448px;
  border-radius: 30px;
  @media screen and (max-width: 1280px) {
    width: 200px;
    height: 200px;
  }
}

.title {
  margin-bottom: 60px;
  font-family: "Poppins";
  font-size: 64px;
  font-weight: 400 !important;
  text-align: left;
  @media screen and (max-width: 1280px) {
    font-size: 32px;
  }
}
